* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
} 

body {
    background-color: rgb(25, 152, 226);
}

h2 {
    font-size: 16pt;
    color: rgb(36, 34, 133);
}

h1 {
    font: bolder;
    color: rgb(36, 34, 133);
    font-size: 18pt;
    text-align: center;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;     
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

.lado {
    float: right;
}
